/*Global IDs*/

h2 {
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}

h4 {
	font-family: arial;
	color: #ffffff;
	text-align: center;
}

footer {
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	background-color: #666666;
	text-align: center;
	margin: 10px 0 0 0;
	height: 100px;
	padding: 40px;
	border-top: 10px;
	border-style: solid;
	border-color: #cccccc;
}

/*Classes*/

.jumbotron {
	background-color: #666666;
	margin: 0 0 10px 0;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	text-align: center;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
}

/*Individual IDs*/

#bodybackground {
	background-image: url(../images/background.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 750px;

}

#hold {
	text-align: center;
	display: inline;
}

#my-word li {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}

#page-content {
	padding: 200px 0 0 0;
}

#entry-content {
	border: 10px;
	border-style: solid;
	border-color: #cccccc;
	margin: 0 357px 0 357px;
}

/*Queries*/

@media screen and (max-width: 980px) {

	/*Classes*/

	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		width: 75%;
	}

	/*Individual IDs*/

	#entry-content {
		margin: 0 190px 0 190px;
	}
}

@media screen and (max-width: 768px) {

	/*Classes*/

	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		width: 65%;
	}

	/*Individual IDs*/

	#entry-content {
		margin: 0 130px 0 130px;
	}
}

@media screen and (max-width: 640px) {
		/*Classes*/

	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		width: 100%;
	}

	/*Individual IDs*/

	#entry-content {
		margin: 0 130px 0 130px;
	}
}