/*Global IDs*/

h2 {
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}

h4 {
	font-family: arial;
	color: #ffffff;
	text-align: center;
}

footer {
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	background-color: #666666;
	text-align: center;
	margin: 10px 0 0 0;
	height: 100px;
	padding: 40px;
	border-top: 10px;
	border-style: solid;
	border-color: #cccccc;
}

/*Classes*/

.jumbotron {
	background-color: #666666;
	margin: 0 0 10px 0;
}

.col-xs, .col-sm, .col-md, .col-lg {
	text-align: center;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
}

.container {
	border: 10px;
	border-style: solid;
	border-color: #cccccc;
}

/*Individual IDs*/

#bodybackground {
	background-image: url(../images/background.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 750px;

}

#hold {
	text-align: center;
	display: inline;
}

#my-word li {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}

#page-content {
	padding: 200px 0 0 0;
}

/*Queries*/

@media screen and (min-width: 1200px) and (max-width: 1600px) {

	/*Classes*/

	.col-xs, .col-sm, .col-md, .col-lg {
		width: 100%;
	}

	.container {
		width: 70%
	}
}

@media screen and (min-width: 980px) and (max-width: 1200px) {

	/*Classes*/

	.col-xs, .col-sm, .col-md, .col-lg {
		width: 100%;
	}

	.container {
		width: 75%;
	}
}

@media screen and (min-width: 768px) and (max-width: 979px) {

	/*Classes*/

	.col-xs, .col-sm, .col-md, .col-lg {
		width: 100%;
	}

	.container {
		width: 85%;
	}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
		/*Classes*/

	.col-xs, .col-sm, .col-md, .col-lg {
		width: 100%;
	}

	.container {
		width: 90%
	}
}